<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <a href="./static.html">Get The App</a>
            <div class="navbar__menu_container">
                <a href="./homepage.html" class="link">
                    <button class="btn_h btn">Home</button>
                </a>
                <a href="./about.html" class="link">
                    <button class="btn">About</button>
                </a>
                <a href="./resourses.html" class="link">
                    <button class="btn">Resources</button>
                </a>
                <a href="./userguide.html" class="link">
                    <button class="btn">User Guide</button>
                </a>
            </div>
        </nav>
    </header>
    <section class="container we__offer">
        <div class="body_container">

            <div class="data__classifiers">
                <div class="we__offer_card" style="background-image: url('./data_preprosesing.png');">
                    <div class="we__offer_content">
                        <a href="https://colab.research.google.com/drive/1D484wnRDKiE03DpEF250cJCdOL2QjcFP?usp=sharing" target="_blank"><h2>Data Preprocessing</h2></a>
                    </div>
                </div>
                <div class="we__offer_card" style="background-image: url('./modeltraning.jpeg');">
                    <div class="we__offer_content">
                        <a href="https://colab.research.google.com/drive/1OHo6NvMPhWUzvedUEO-f5iyb0dD-qTAz?usp=sharing" target="_blank"><h2>Model Building</h2></a>
                    </div>
                </div>
                <div class="we__offer_card" style="background-image: url('./visualization.webp');">
                    <div class="we__offer_content">
                        <a href="./visualization.html"><h2>Visualization</h2></a>
                        <!-- <a href="http://127.0.0.1:5000"><h2>Visualization</h2></a> -->
                    </div>
                </div>
            </div>
        </div>
      </section>
</body>
</html>
